span {
  margin: 5px 5px 5px 5px;
  border: black solid 2px;
  width: 100px;
  height: 20px;
  background-color: #f7f7f7;
  display: inline-block;
}

// TODO feedback: 不建议使用ID选择器
#show-student-list {

}

// TODO feedback：可以把button样式提取成mixin
#add-student {
  cursor: pointer;
  .submit, .cancel {
    padding-right: 20px;
  }
}
